<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>My To Do List</h1>
</div>
<ul>
    {% for i in all_items %}
    <li>
        <h3>
            {{i.content}}
        </h3>
        <form action="/delete/{{i.id}}" method = "post">{% csrf_token %}
            <button type="submit" class="btn btn-warning">Delete</button>
        </form>
    </li>
    {% endfor %}
    </ul>
    <form action="/add/" method = "post">{% csrf_token %}
        <div class="col-xs-4">
            <input type="text" class="form-control" name="content">
            <button type="submit" class="btn btn-default position-relative">Add</button>
        </div>
    </form>
</body>
</html>